{% load static %}
    <link
        href="http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic%7CPT+Gudea:400,700,400italic%7CPT+Oswald:400,700,300"
        rel="stylesheet" id="googlefont">
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Hahmlet:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="{% static '/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static '/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static '/css/prettyPhoto.css' %}">
    <link rel="stylesheet" href="{% static '/css/colpick.css' %}">
    <link rel="stylesheet" href="{% static '/css/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static '/css/revslider.css' %}">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <link rel="stylesheet" href="{% static '/css/responsive.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">

    <link rel="icon" type="image/png" href="https://www.portotheme.com/html/venedor/pink/images/icons/icon.html">
    <link rel="apple-touch-icon" sizes="57x57"
        href="https://www.portotheme.com/html/venedor/pink/images/icons/apple-icon-57x57.html">
    <link rel="apple-touch-icon" sizes="72x72"
        href="https://www.portotheme.com/html/venedor/pink/images/icons/apple-icon-72x72.html">
