{% extends "common/base.html" %}
{% load static %}

{% block content %}

<img src="{%static 'images/subscribe_page.png'%}" class="img-fluid w-100">
<div class="container-fluid py-5">
    
    {% if reports %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">

                {% for report in reports %}
                <div class="col-md-3 col-sm-3 col-xs-3 main-content">
                    <div class="card m-auto" >
                        <!-- <img src="{{ report.feature_image_url }}" class="card-img-top" alt="{{report.title}}"> -->
                        <img src="/static/images/Report view Dashboard Card - AUS Coffee.png" class="card-img-top" alt="{{report.title}}">
                        <div class="card-body">
                            <h5 class="card-title">{{ report.title }}</h5>
                            <p class="card-text">{{report.short_description|truncatewords:15}}</p>
                            <a href="{{ report.get_absolute_url }}" class="btn btn-primary btn-block">Buy Now</a>
                        </div>
                    </div>

                </div><!-- End .col-md-3 -->
                {% if forloop.counter|divisibleby:2 %}
                <div class="clearfix visible-sm"></div>
                {% endif %}

                {% if forloop.counter|divisibleby:4 and not forloop.last %}
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row">

                {% endif %}

                {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}


