{% load i18n %}
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block head_title %}{% endblock %}</title>
    
    {% include "common/css.html" %}
    {% block extra_head %}
    {% endblock %}
  </head>
  <body class="bg-white">
    {% block body %}

    {% if messages %}
    {% for message in messages %}
    <div aria-live="polite" aria-atomic="true" style="position: absolute; top:0; right:0">
        <div class="toast" style="position: absolute; top: 10px; right: 0; min-width: 290px;">
          <div class="toast-header alert alert-warning">
            <strong class="mr-auto">{{message}}</strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
      </div>
      {% endfor %}
    {% endif %}

    {% comment %}
    <div>
      <strong>{% trans "Menu:" %}</strong>
      <ul>
        {% if user.is_authenticated %}
        <li><a href="{% url 'account_email' %}">{% trans "Change Email" %}</a></li>
        <li><a href="{% url 'account_logout' %}">{% trans "Sign Out" %}</a></li>
        {% else %}
        <li><a href="{% url 'account_login' %}">{% trans "Sign In" %}</a></li>
        <li><a href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a></li>
        {% endif %}
      </ul>
    </div>
    {% endcomment %}
    {% block content %}
    {% endblock %}
    {% endblock %}
    {% block extra_body %}
    {% endblock %}
  </body>
</html>