{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="row">
    <div class="col-sm-5">
        <img src="/static/images/signup.png" class="img-responsive">
    </div>
    <div class="col-sm-7">
        <div class="pt-0 pb-0 pl-5 pr-5">
            
        <img src="/static/images/Logo.svg" alt="Venedor Commerce Template" width="184" height="60" class="d-block mt-4 ml-auto mr-auto">
        <h1 class="text-center">{% trans "Login" %}</h1>
        <h3>{% trans "Register for free" %}</h3>
        
        {% get_providers as socialaccount_providers %}
        
        {% if socialaccount_providers %}
        <p>{% blocktrans with site.name as site_name %}Please sign in with one
        of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
        for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>
        
        <div class="socialaccount_ballot">
        
          <ul class="socialaccount_providers">
            {% include "socialaccount/snippets/provider_list.html" with process="login" %}
          </ul>
        
          <div class="login-or">{% trans 'or' %}</div>
        
        </div>
        
        {% include "socialaccount/snippets/login_extra.html" %}
        
        {% else %}
        <p>{% blocktrans %}If you have not created an account yet, then please
        <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
        {% endif %}


<form class="login" method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}
    {{ form.non_field_errors | safe }}
    <input type="hidden" name="remember" value="true" />
            <div class="form-group">
                <input type="text" name="login"class="form-control"  placeholder="Username" autocomplete="username" maxlength="150" required="" id="id_login">
                {{ form.username.errors | safe }}
            </div>
            <div class="form-group">
                <input type="password" name="password"class="form-control"  placeholder="Password" autocomplete="current-password" required="" id="id_password">
                {{ form.password.errors | safe }}
                <a class="button secondaryAction d-block text-right" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
            </div>
            
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button class="primaryAction btn btn-primary btn-block" type="submit">{% trans "Login" %}</button>
  </form>

        
        </div>
    </div>
</div>
{% endblock %}